{% extends "prebase.html" %}
{% load static %}
{% block main %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>



    {% if request.user.is_authenticated %}
    {% if patrol %}
      <div class="row">
        <div class="col-md-12 col-sm-12">
            {% block stats %}


                <div class="card" style="width: 20rem; margin-bottom: 2em;">

                    <div class="card-header">
                        <a href="/profile">{{ patrol.name }}</a>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Talary: {{ patrol.cash | floatformat }} </li>
                        <li class="list-group-item">Punkty: {{ patrol.points | floatformat }} </li>
                    </ul>
                </div>
            {% endblock %}
        </div>
      </div>
    {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% block content %}

            {% endblock %}
        </div>
    </div>


{% endblock %}


