{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <br>
<div class="content-section">


    <div class="media-body d-flex flex-row">
        <div class="p-2">
        <img class="rounded-circle account-img" src="{{ user.patrol.image.url }}">
            <h2 class="account-heading">{{ hosting_patrol.name }}</h2>
        </div>
        <div clas="p-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Talary: <br> {{ hosting_patrol.cash | floatformat }} </li>
                <li class="list-group-item">Punkty: <br> {{ hosting_patrol.points | floatformat }} </li>
            </ul>
        </div>
    </div>




</div>
<br><br>
{% if plot_list %}
<div class="content-section ">
    <h3 align="center">Posiadane działki</h3>
    <br>
    <table class="table">
        {% for plot in plot_list %}
            <tr>
                <td>
                    <a href="/{{plot.id}}" style="text-decoration: none" ><b>{{plot.name}}</b></a><br>

                    {{plot.building.name}}
                     <br>
                    Punkty: {{plot.points}}
                </td>
                <td>
                    <img src="{{plot.building.image.url}}" class="rounded" style="height: auto; width: 30vw;"/>
                </td>
            </tr>

        {% endfor %}
    </table>


</div>
{% endif %}
      <!-- FORM HERE -->

{% endblock content %}